<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global map of CO2 emissions from point sources</title>

    <script src="assets/js/h3-js-v3.7.2_umd.js"></script>
    <script src="assets/js/deck-v8.5.8_dist.min.js"></script>
    <script src="assets/js/mapbox-gl-js-v1.4.0.js"></script>

    <link rel="stylesheet" href="assets/css/buefy-v0.9.10.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">

    <style type="text/css">
      body {
          width: 100vw;
          height: 100vh;
          margin: 0;
      }

      .modal {
          height: 100vh;
          width: 100vw;
      }

      .deck-tooltip {
          font-size: 0.8em;
          font-family: Helvetica, Arial, sans-serif;
      }

      .legend {
          z-index: 10;
          padding: 1em;
      }
    </style>
  </head>

  <body>

    <div id="app">
      <section>
        <b-modal v-model="showWelcome">

          <div class="card">
            <header class="card-header">
              <p class="card-header-title has-background-primary has-text-white-ter">
                Welcome to the carbon planet
              </p>
            </header>

            <div class="card-content">
              <div class="content is-small p-4">
                <div class="block">Find the largest carbon emitters across the globe from multiple national/regional sources.</br></br>
                  Based on data from,
                  <ul>
                    <li>
                      <a target="_blank" href="https://www.eea.europa.eu/data-and-maps/data/industrial-reporting-under-the-industrial-3">European Environmental Agency</a>
                    </li>
                    <li>
                      <a target="_blank" href="https://www.canada.ca/en/environment-climate-change/services/environmental-indicators/greenhouse-gas-emissions/large-facilities.html">Environment and Climate Change, Canada</a>
                    </li>
                    <li>
                      <a target="_blank" href="https://ghgdata.epa.gov/ghgp/main.do">Environmental Protection Agency, USA</a>
                    </li>
                  </ul>
                </div>
                <div class="block">
                  Due to <a href="https://gitlab.com/nextgen-geophysics/carbonplanet#limitations-and-caviats">differences in reporting and methodologies</a>, you should expect some uncertainty when comparing emissions across regions (EU, US, and Canada).
                </div>
                <div class="block">Know of more public emission datasets? Reach out to <a href="#">hello@nextgengeophysics.com</a>.</div>
                <div class="block">Developed and <a href="https://gitlab.com/nextgen-geophysics/carbonplanet/">open sourced</a> by <a href="https://nextgengeo.com/">NextGen Geophysics</a>.</div>
              </div>
            </div>
            <footer class="card-footer">
              <a class="is-primary card-footer-item" @click="showWelcome = false">Let's go</a>
            </footer>
          </div>

        </b-modal>

        <b-modal v-model="showFacilityDetails">
          <div class="card">

            <header class="card-header">
              <p class="card-header-title has-background-primary has-text-white-ter">
                {{ facilityDetails.facilityName }}
              </p>
            </header>

            <div class="card-content">
              <div class="content is-small p-4">
                <dl v-if="facilityDetails.facilityReportingYear">
                  <dt><strong>Reported year</strong></dt>
                  <dd>{{ facilityDetails.facilityReportingYear }}</dd>
                  <dt><strong>Owner/Operator</strong></dt>
                  <dd>{{ facilityDetails.facilityOwner }}</dd>
                  <dt><strong>Type</strong></dt>
                  <dd>{{ facilityDetails.facilityType }}</dd>
                  <dt><strong>Total CO2-e emissions per year (metric kilotonnes)</strong></dt>
                  <dd>{{ facilityDetails.facilityEmissions }}</dd>
                </dl>
                <div v-else>
                  Please zoom in for more information.
                </div>
              </div>
            </div>

        </b-modal>

      </section>

      <section>
        <b-collapse class="legend" :open="false" aria-id="contentIdForA11y1">
          <template #trigger>
            <b-button
              class="legend"
              icon-left="map-legend"
              size="is-medium"
              aria-controls="contentIdForA11y1" />
          </template>
          <div class="notification legend" style="width: 300px;">
            <div class="content">
              <h6>Total CO2-e emissions per year (metric kilotonnes)</h6>
              <ul style="list-style-type: none;" v-for="(color, idx) in COLOR_RANGE">
                <li>
                  <!-- Create legend as SVG -->
                  <svg width="150" height="20">
                    <rect width="20" height="20" style="stroke-width:3;stroke:rgb(0,0,0)" :fill="color"/>
                    <text v-if="idx < 5" x="35" y="15">{{ idx * 1000 }} - {{ (idx + 1) * 1000 }}</text>
                    <text v-else x="35" y="15"> >= {{ idx * 1000 }}</text>
                  </svg>
                </li>
              </ul>

              <div class="content is-small">
                Color scale only applies to individual columns/facilities
              </div>
            </div>
          </div>
        </b-collapse>

      </section>
      </div>

      <script src="assets/js/vue-v2.6.14.js"></script>
      <script src="assets/js/buefy-v0.9.10.min.js"></script>
      <script type="text/javascript">
        // Vue.js app
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    showWelcome: true,
                    showFacilityDetails: false,
                    facilityDetails: {
                        facilityReportingYear: 0,
                        facilityName: "",
                        facilityOwner: "",
                        facilityType: "",
                        facilityEmissions: ""
                    },
                    COLOR_RANGE: [
                        '#0198bd',
                        '#49e3ce',
                        '#d8feb5',
                        '#feedb1',
                        '#fead54',
                        '#d1374e'
                    ]
                }
            }
        })
      </script>

  </body>

  <script type="text/javascript">
    // Deck.gl app
    const {DeckGL, ColumnLayer, MapView, HexagonLayer} = deck;
    
    let zoomLevel = 1;
    let previousZoom = 1;
    const SWITCH_TO_COLUMNS = 4.5;
    const SWITCH_TO_HIGH_RES_COLUMNS = 7.5;

    // NOTE: For local testing change this to a full url. E.g. http://127.0.0.1:8000/large-facilities.json
    const DATA_URL = 'large-facilities.json'

    const COLOR_RANGE = [
        [1, 152, 189],
        [73, 227, 206],
        [216, 254, 181],
        [254, 237, 177],
        [254, 173, 84],
        [209, 55, 78]
    ];

    function getColor (object) {
        // Returns a color value from the COLOR_RANGE variable above.
        return COLOR_RANGE[Math.min(Math.floor(object['Total emissions (kt CO2-e)'] / 1000), 5)];
    }

    const mapView = new MapView();
    const deckMap = new DeckGL({
        mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
        views: [mapView],
        initialViewState: {
            longitude: -35.097,
            latitude: 5.063,
            zoom: 2,
            maxZoom: 15,
            minZoom: 2,
            pitch: 42
        },
        onViewStateChange: (viewState) => {
            previousZoom = zoomLevel;
            zoomLevel = viewState.viewState.zoom;

            // Update the layers based on the current zoom level. TODO: Hide the layers rather than re-rendering them.
            if (zoomLevel > SWITCH_TO_HIGH_RES_COLUMNS & previousZoom <= SWITCH_TO_HIGH_RES_COLUMNS) {
                deckMap.setProps({"layers": [new ColumnLayer({
                    id: 'column',
                    data: DATA_URL,
                    radius: 250, // m
                    pickable: true,
                    stroked: true,
                    lineWidthMinPixels: 2,
                    lineWidthMaxPixels: 350,
                    lineWidthScale: true,
                    lineWidthUnits: 'pixels',
                    getPosition: d => d.coordinates,
                    getFillColor: getColor,
                    getElevation: d => d['Total emissions (kt CO2-e)'],
                    elevationScale: 5,
                })]})
            } else if (
                (previousZoom >= SWITCH_TO_HIGH_RES_COLUMNS & zoomLevel < SWITCH_TO_HIGH_RES_COLUMNS) |
                    (previousZoom <= SWITCH_TO_COLUMNS & zoomLevel > SWITCH_TO_COLUMNS)
            )
            {
                deckMap.setProps({"layers": [new ColumnLayer({
                    id: 'column',
                    data: DATA_URL,
                    radius: 3000, // m
                    pickable: true,
                    stroked: true,
                    lineWidthMinPixels: 2,
                    lineWidthMaxPixels: 350,
                    lineWidthScale: true,
                    lineWidthUnits: 'pixels',
                    getPosition: d => d.coordinates,
                    getFillColor: getColor,
                    getElevation: d => d['Total emissions (kt CO2-e)'],
                    elevationScale: 10,
                })]})
            } else if (previousZoom > SWITCH_TO_COLUMNS & zoomLevel <= SWITCH_TO_COLUMNS) {
                deckMap.setProps({"layers": [
                    new HexagonLayer({
                        id: 'hexagon-high-layer',
                        data: DATA_URL,
                        pickable: true,
                        extruded: true,
                        radius: 100000,
                        elevationScale: 200,
                        getPosition: d => d.coordinates,
                        getElevationValue: (objects, info) => {
                            return objects.reduce((accum,item) => accum + item['Total emissions (kt CO2-e)'], 0);
                        },
                        getColorValue: (objects, info) => {
                            return objects.reduce((accum,item) => accum + item['Total emissions (kt CO2-e)'], 0);
                        }
                    })
                ]})
            }
        },
        controller: {touchRotate: true},
        layers: [
            new HexagonLayer({
                id: 'hexagon-layer',
                data: DATA_URL,
                pickable: true,
                extruded: true,
                radius: 100000,
                elevationScale: 200,
                getPosition: d => d.coordinates,
                getElevationValue: (objects, info) => {
                    return objects.reduce((accum,item) => accum + item['Total emissions (kt CO2-e)'], 0);
                },
                getColorValue: (objects, info) => {
                    return objects.reduce((accum,item) => accum + item['Total emissions (kt CO2-e)'], 0);
                }
            })
        ],
        onClick: (info, event) => {
            // Update details overview with data from this object
            app.facilityDetails.facilityReportingYear = info.object['reportingYear'];
            app.facilityDetails.facilityName = info.object['Facility name'];
            app.facilityDetails.facilityOwner = info.object['Reporting entity'];
            app.facilityDetails.facilityType = info.object['Facility type'];
            app.facilityDetails.facilityEmissions = info.object['Total emissions (kt CO2-e)'];
            app.showFacilityDetails = true;
        },
        getTooltip
    });

    function getTooltip({object}) {
        if (object && object['Facility name'] !== undefined) {
            return `Facility name: ${object['Facility name']}
            Year: ${object['reportingYear']}
            Owner: ${object['Reporting entity']}
            Facility type: ${object['Facility type']}

            Total CO2-e emissions (metric kilotonnes/year):
            ${object['Total emissions (kt CO2-e)']}`;

        }

        // If the user is at too high a zoom level show them how to get more detailes
        return object && `Please zoom for detailed information`
    }
  </script>
</html>
